################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/AzureDataCollectorLoggingProvider/bin
/AzureDataCollectorLoggingProvider/obj
/AzureDataCollectorLoggingProvider.Interfaces/bin
/AzureDataCollectorLoggingProvider.Interfaces/obj
/AzureDataCollectorLoggingProvider.Tests/bin
/AzureDataCollectorLoggingProvider.Tests/obj
