################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/AzureDataCollectorLoggingProvider/v15/*
/AzureDataCollectorLoggingProvider/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.csproj.nuget.g.targets
/AzureDataCollectorLoggingProvider/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.csproj.nuget.g.props
/AzureDataCollectorLoggingProvider/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.csproj.nuget.cache
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csproj.nuget.g.targets
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csproj.nuget.g.props
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csproj.nuget.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.Program.cs
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.Test.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/WEI.Test.pdb
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/WEI.Test.dll
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/WEI.pdb
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/WEI.ObjectModel.pdb
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/WEI.ObjectModel.dll
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.nuget.g.targets
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.nuget.g.props
/AzureDataCollectorLoggingProvider.Tests/obj/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.nuget.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.Program.cs
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.pdb
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.dll
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.csproj.CopyComplete
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider.Tests/obj/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.runtimeconfig.json
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.runtimeconfig.dev.json
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.pdb
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.dll
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.Test.deps.json
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.pdb
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/WEI.Extensions.Logging.AzureDataCollector.dll
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Extensions.Logging.AzureDataCollector.pdb
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/WEI.Extensions.Logging.AzureDataCollector.dll
/AzureDataCollectorLoggingProvider/bin/Debug/netstandard2.0/WEI.Microsoft.Extensions.Logging.AzureAppServices.deps.json
/AzureDataCollectorLoggingProvider/bin/Debug/netstandard2.0/WEI.Extensions.Logging.AzureDataCollector.pdb
/AzureDataCollectorLoggingProvider/bin/Debug/netstandard2.0/WEI.Extensions.Logging.AzureDataCollector.dll
/.vs/config/applicationhost.config
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.CopyComplete
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.csproj.CopyComplete
/AzureDataCollectorLoggingProvider/obj/AzureDataCollectorLoggingProvider.csproj.nuget.g.targets
/AzureDataCollectorLoggingProvider/obj/AzureDataCollectorLoggingProvider.csproj.nuget.g.props
/AzureDataCollectorLoggingProvider/obj/AzureDataCollectorLoggingProvider.csproj.nuget.cache
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.AssemblyInfoInputs.cache
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.AssemblyInfo.cs
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider/bin/Release/netstandard2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider/bin/Release/netstandard2.0/AzureDataCollectorLoggingProvider.deps.json
/AzureDataCollectorLoggingProvider/bin/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.dll
/AzureDataCollectorLoggingProvider/bin/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.deps.json
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csproj.FileListAbsolute.txt
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csproj.CoreCompileInputs.cache
/AzureDataCollectorLoggingProvider.Interfaces/obj/AzureDataCollectorLoggingProvider.Interfaces.csproj.nuget.g.targets
/AzureDataCollectorLoggingProvider.Interfaces/obj/AzureDataCollectorLoggingProvider.Interfaces.csproj.nuget.g.props
/AzureDataCollectorLoggingProvider.Interfaces/obj/AzureDataCollectorLoggingProvider.Interfaces.csproj.nuget.cache
/AzureDataCollectorLoggingProvider.Tests/bin/Release/netcoreapp2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Tests/bin/Debug/netcoreapp2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Interfaces/obj/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Interfaces/obj/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.csprojResolveAssemblyReference.cache
/AzureDataCollectorLoggingProvider.Interfaces/bin/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Interfaces/bin/Release/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.deps.json
/AzureDataCollectorLoggingProvider.Interfaces/bin/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.dll
/AzureDataCollectorLoggingProvider.Interfaces/bin/Debug/netstandard2.0/AzureDataCollectorLoggingProvider.Interfaces.deps.json
/AzureDataCollectorLoggingProvider/bin
/AzureDataCollectorLoggingProvider/obj
/AzureDataCollectorLoggingProvider.Interfaces/bin
/AzureDataCollectorLoggingProvider.Interfaces/obj
/AzureDataCollectorLoggingProvider.Tests/bin
/AzureDataCollectorLoggingProvider.Tests/obj
